@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@font-face {
  font-family: "Tiempos Headline Medium";
  src: url("../public/fonts/Tiempos/TiemposHeadline-Medium.eot");
  src: url("../public/fonts/Tiempos/TiemposHeadline-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Tiempos/TiemposHeadline-Medium.woff") format("woff"),
    url("../public/fonts/Tiempos/TiemposHeadline-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;